body{
  margin: 0;
}
/* Grid */
.layout {
  /* Set your own grid   */
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: 350px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* Widgets */
section {
  background: transparent;
  padding: 1em;
  
  /* Relative Parent. Absolute Child */
  position: relative;
}
h1{
  color: black;
  font-family: 'Bevellier-Regular';
  font-size: 45px;
}

/* Time */
.time {
  font-family: 'Chillax-Regular';
  color: white;
  font-size: 25px;
}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  
}

/* Date */
.date {
  font-family: 'Chillax-Regular';
  color: white;
  font-size: 25px;
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {
  font-family: 'Chillax-Regular';
  color: white;
  font-size: 25px;
}

.city {
  font-family: 'Chillax-Semibold';
  font-size: 35px;
}

.temp {
  font-family: 'Chillax-Medium';
  font-size: 30px;
}

.weather img {
  background: rgb(165, 163, 163, 0.5);
}
video {
  /*  display: none;  */

  position: absolute;
  height: 100vh;
  width: 100vw;

  object-fit: cover;
  object-position: center;

  z-index: -1;
}
