/* Grid */
.layout {
  /* Set your own grid   */
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
}

/* Widgets */
section {
  background: transparent;
  padding: 1em;
  
  /* Relative Parent. Absolute Child */
  position: relative;
}
h1{
  font-family: 'Array-Bold';
  font-size: 40px;
}

/* Time */
.time {
  color: white;
}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  
}

/* Date */
.date {
  color: white;
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {
  color: white;
}

.city {
  
}

.temp {
  
}

.weather img {
  
}
video {
  /*  display: none;  */

  position: absolute;
  height: 100vh;
  width: 100vw;

  object-fit: cover;
  object-position: center;

  z-index: -1;
}